.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.noCities {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* old very small phones */
@media (max-width: 320px) {
  .noCities {
    font-size: 13px;
  }
}
/* Mobile (Small Screens) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .noCities {
    font-size: 13px;
  }
}

/* Mobile (Medium Screens) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .noCities {
    font-size: 14px;
  }
}

/* Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .noCities {
    font-size: 15px;
  }
}

/* Tablet (Landscape) / Small Laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .noCities {
    font-size: 15px;
  }
}

/* Desktop (Large Screens) */
@media only screen and (min-width: 1200px) {
  .noCities {
    font-size: 16px;
  }
}
