.container {
  overflow-y: auto;
  padding: 0 5px;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

/* old very small phones */
@media (max-width: 320px) {
  .container {
    max-width: 270px;
    max-height: 120px;
  }
}
/* Mobile (Small Screens) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .container {
    max-width: 350px;
    max-height: 120px;
  }
}

/* Mobile (Medium Screens) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 380px;
    max-height: 120px;
  }
}

/* Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 320px;
    max-height: 300px;
  }
}

/* Tablet (Landscape) / Small Laptops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 350px;
    max-height: 310px;
  }
}

/* Desktop (Large Screens) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 380px;
    max-height: 310px;
  }
}
